p{color:white; background-color:red;}
p{font-size:28px}
p{font-weight: 600;}
p{text-align:center;}
 
 
 div {color: white; background-color:green;}
  div{font-size:18px}



    button{color:black; background-color: orange;}
    button{font-size:18px}
    


    

