body{display:flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    display: flex;
    background-color: rgb(36, 128, 156);
    height: 75px;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    }

    .heading{
    display:flex;
    justify-content: center;
    background-color:hotpink;
    color:yellow;
    flex-direction: row;
    }
    img {
        width: 300px;
        height: 300px;
    }
    
    .divcenter,h1,img{
        justify-content: center;
        align-self: center;
         }

           img{
            display:flex;
            justify-content:center;
            justify-content: space-evenly;
            align-items: center;
        
        }



